In [1]:
import sys
import pandas as pd
import numpy as np
from sklearn.cross_validation import KFold
from sklearn import ensemble
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb

In [ ]:
import sys
import pandas as pd
import numpy as np
from sklearn.cross_validation import KFold
from sklearn import ensemble
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

In [2]:
train_df=pd.read_csv("train.csv")

In [5]:
train_df.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [3]:
gender_dict = {'F':0, 'M':1}
age_dict = {'0-17':0, '18-25':1, '26-35':2, '36-45':3, '46-50':4, '51-55':5, '55+':6}
city_dict = {'A':0, 'B':1, 'C':2}
stay_dict = {'0':0, '1':1, '2':2, '3':3, '4+':4}

In [6]:

def getCountVar(compute_df, count_df, var_name):
	grouped_df = count_df.groupby(var_name)
	count_dict = {}
	for name, group in grouped_df:
		count_dict[name] = group.shape[0]

	count_list = []
	for index, row in compute_df.iterrows():
		name = row[var_name]
		count_list.append(count_dict.get(name, 0))
	return count_list

In [ ]:
train_df["Age_Count"] = getCountVar(train_df, train_df, "Age")
#test_df["Age_Count"] = getCountVar(test_df, train_df, "Age")
print "Age", np.unique(test_df["Age_Count"])

In [7]:
train_df["Age_Count"] = getCountVar(train_df, train_df, "Age")

In [15]:
print "Age", np.unique(train_df["Age_Count"])

 Age [ 15102  21504  38501  45701  99660 110013 219587]

In [13]:
count_dict.get("Age", 0)

0

In [9]:
train_df["Age_Count"]

0          15102
1          15102
2          15102
3          15102
4          21504
5         219587
6          45701
7          45701
8          45701
9         219587
10        219587
11        219587
12        219587
13        219587
14         38501
15         38501
16         38501
17         38501
18        110013
19        219587
20        219587
21        219587
22        219587
23        219587
24        219587
25        219587
26        219587
27        219587
28        219587
29        110013
           ...
550038    110013
550039    219587
550040    219587
550041     45701
550042     38501
550043     45701
550044    219587
550045    219587
550046     15102
550047    219587
550048    110013
550049    110013
550050    110013
550051    219587
550052     45701
550053    110013
550054    110013
550055    219587
550056    219587
550057    219587
550058    219587
550059    219587
550060    110013
550061    219587
550062     45701
550063     38501
550064    219587
550065    219587
550066     21504
550067     45701
Name: Age_Count, dtype: int64

In [8]:
count_dict=dict(train_df.Age.value_counts())

In [21]:
count_dict

{0: 15102, 1: 99660, 2: 219587, 3: 110013, 4: 45701, 5: 38501, 6: 21504}

In [19]:
train_df.groupby("Age").head

In [4]:
test_df = pd.read_csv("test.csv")

In [5]:
train_df["Gender"] = train_df["Gender"].apply(lambda x: gender_dict[x])
test_df["Gender"] = test_df["Gender"].apply(lambda x: gender_dict[x])

train_df["Age"] = train_df["Age"].apply(lambda x: age_dict[x])
test_df["Age"] = test_df["Age"].apply(lambda x: age_dict[x])

train_df["City_Category"] = train_df["City_Category"].apply(lambda x: city_dict[x])
test_df["City_Category"] = test_df["City_Category"].apply(lambda x: city_dict[x])

train_df["Stay_In_Current_City_Years"] = train_df["Stay_In_Current_City_Years"].apply(lambda x: stay_dict[x])
test_df["Stay_In_Current_City_Years"] = test_df["Stay_In_Current_City_Years"].apply(lambda x: stay_dict[x])

In [16]:
print "Getting count features.."
train_df["Age_Count"] = getCountVar(train_df, train_df, "Age")
test_df["Age_Count"] = getCountVar(test_df, train_df, "Age")
print "Age", np.unique(test_df["Age_Count"])

train_df["Occupation_Count"] = getCountVar(train_df, train_df, "Occupation")
test_df["Occupation_Count"] = getCountVar(test_df, train_df, "Occupation")
print "Occupation", np.unique(test_df["Occupation_Count"])

train_df["Product_Category_1_Count"] = getCountVar(train_df, train_df, "Product_Category_1")
test_df["Product_Category_1_Count"] = getCountVar(test_df, train_df, "Product_Category_1")
print "Cat 1 ",np.unique(test_df["Product_Category_1_Count"])

train_df["Product_Category_2_Count"] = getCountVar(train_df, train_df, "Product_Category_2")
test_df["Product_Category_2_Count"] = getCountVar(test_df, train_df, "Product_Category_2")
print "Cat 2 ", np.unique(test_df["Product_Category_2_Count"])

train_df["Product_Category_3_Count"] = getCountVar(train_df, train_df, "Product_Category_3")
test_df["Product_Category_3_Count"] = getCountVar(test_df, train_df, "Product_Category_3")
print "Cat 3 ", np.unique(test_df["Product_Category_3_Count"])

train_df["User_ID_Count"] = getCountVar(train_df, train_df, "User_ID")
test_df["User_ID_Count"] = getCountVar(test_df, train_df, "User_ID")
print "User id ", np.unique(test_df["User_ID_Count"])[:10]

train_df["Product_ID_Count"] = getCountVar(train_df, train_df, "Product_ID")
test_df["Product_ID_Count"] = getCountVar(test_df, train_df, "Product_ID")
print "Product id ", np.unique(test_df["Product_ID_Count"])[:10]

Getting count features..
Age [ 15102  21504  38501  45701  99660 110013 219587]
Occupation [ 1546  6291  6622  7728  8461 11586 12165 12177 12930 17650 20355 25371
 26588 27309 31179 33562 40043 47426 59133 69638 72308]
Cat 1  [   410    578   1523   3125   3721   3947   5125   5549   6290   9828
  11753  20213  20466  23864  24287 113925 140378 150933]
Cat 2  [    0   626  2770  2884  3043  5528  5693 10531 13320 14134 16466 25677
 26235 37855 43255 49217 55108 64088]
Cat 3  [    0   613  1726  1805  1875  4629  4890  5459  9246 11579 12562 16658
 16702 18428 28013 32636]
User id  [ 6  7  8  9 10 11 12 13 14 15]
Product id  [0 1 2 3 4 5 6 7 8 9]

In [17]:
def getPurchaseVar(compute_df, purchase_df, var_name):
        grouped_df = purchase_df.groupby(var_name)
        min_dict = {}
        max_dict = {}
        mean_dict = {}
        for name, group in grouped_df:
                min_dict[name] = min(np.array(group["Purchase"]))
                max_dict[name] = max(np.array(group["Purchase"]))
                mean_dict[name] = np.mean(np.array(group["Purchase"]))

        min_list = []
        max_list = []
        mean_list = []
        for index, row in compute_df.iterrows():
                name = row[var_name]
                min_list.append(min_dict.get(name,0))
                max_list.append(max_dict.get(name,0))
                mean_list.append(mean_dict.get(name,0))

        return min_list, max_list, mean_list

In [19]:
min_price_list, max_price_list, mean_price_list = getPurchaseVar(train_df, train_df, "User_ID")
train_df["User_ID_MinPrice"] = min_price_list
train_df["User_ID_MaxPrice"] = max_price_list
train_df["User_ID_MeanPrice"] = mean_price_list
min_price_list, max_price_list, mean_price_list = getPurchaseVar(test_df, train_df, "User_ID")
test_df["User_ID_MinPrice"] = min_price_list
test_df["User_ID_MaxPrice"] = max_price_list
test_df["User_ID_MeanPrice"] = mean_price_list
print np.unique(test_df["User_ID_MeanPrice"])[:10]
min_price_list, max_price_list, mean_price_list = getPurchaseVar(train_df, train_df, "Product_ID")
train_df["Product_ID_MinPrice"] = min_price_list
train_df["Product_ID_MaxPrice"] = max_price_list
train_df["Product_ID_MeanPrice"] = mean_price_list
        
min_price_list, max_price_list, mean_price_list = getPurchaseVar(test_df, train_df, "Product_ID")
test_df["Product_ID_MinPrice"] = min_price_list
test_df["Product_ID_MaxPrice"] = max_price_list
test_df["Product_ID_MeanPrice"] = mean_price_list
print np.unique(test_df["Product_ID_MeanPrice"])[:10]

[ 2318.73333333  2698.35714286  3421.52173913  3599.73333333  3612.8125
  4228.51428571  4273.52941176  4276.29166667  4299.16393443  4301.33333333]
[   0.          405.          455.54081633  478.5         498.
  524.66666667  525.75        545.17857143  577.30769231  585.53521127]

In [21]:
def runXGB(train_X, train_y, test_X):
        params = {}
        params["objective"] = "reg:linear"
        params["eta"] = 0.05
        params["min_child_weight"] = 10
        params["subsample"] = 0.8
        params["colsample_bytree"] = 0.7
        params["silent"] = 1
        params["max_depth"] = 10
        #params["max_delta_step"]=2
        params["seed"] = 0
        #params['eval_metric'] = "auc"
        plst = list(params.items())
        num_rounds = 750
        xgtrain = xgb.DMatrix(train_X, label=train_y)
        xgtest = xgb.DMatrix(test_X)
        model = xgb.train(plst, xgtrain, num_rounds)
        pred_test_y = model.predict(xgtest)
        return pred_test_y

In [22]:
train_y = np.array(train_df["Purchase"])
test_user_id = np.array(test_df["User_ID"])
test_product_id = np.array(test_df["Product_ID"])

In [23]:
train_df.drop(["Purchase"], axis=1, inplace=True)

train_df.fillna(-999, inplace=True)
test_df.fillna(-999, inplace=True)

cat_columns_list = ["User_ID", "Product_ID"]
for var in cat_columns_list:
                lb = LabelEncoder()
                full_var_data = pd.concat((train_df[var],test_df[var]),axis=0).astype('str')
                temp = lb.fit_transform(np.array(full_var_data))
                train_df[var] = lb.transform(np.array( train_df[var] ).astype('str'))
                test_df[var] = lb.transform(np.array( test_df[var] ).astype('str'))

train_X = np.array(train_df).astype('float')
test_X = np.array(test_df).astype('float')
print train_X.shape, test_X.shape

(550068, 24) (233599, 24)

In [25]:


print "Running model.."	
pred_test_y = runXGB(train_X, train_y, test_X)

out_df = pd.DataFrame({"User_ID":test_user_id})
out_df["Product_ID"] = test_product_id
out_df["Purchase"] = pred_test_y
out_df.to_csv("sub2.csv", index=False)

Running model..

In [26]:
out_df

        User_ID Product_ID      Purchase
0       1000004  P00128942  17200.597656
1       1000009  P00113442  10835.240234
2       1000010  P00288442   7313.127441
3       1000010  P00145342   2384.984619
4       1000011  P00053842   2122.290771
5       1000013  P00350442  10025.816406
6       1000013  P00155442  11250.178711
7       1000013   P0094542   8985.417969
8       1000015  P00161842  13468.423828
9       1000022  P00067942   5664.810059
10      1000026  P00046742  12495.156250
11      1000026  P00040042   4093.060059
12      1000026  P00196542   5329.264648
13      1000026  P00004542   5545.458008
14      1000028  P00159542  18514.162109
15      1000029  P00111542  12284.764648
16      1000033  P00121042  16517.992188
17      1000033  P00344442   5465.734863
18      1000034  P00265242   8272.579102
19      1000035   P0096642   9212.442383
20      1000036  P00303042   7306.095703
21      1000036  P00059642  16954.552734
22      1000042  P00030842  14931.951172
23      1000045  P00346442   9025.910156
24      1000045  P00357242   6221.587402
25      1000045  P00284742   6331.336426
26      1000048  P00110842  16819.578125
27      1000048  P00251642   7824.183105
28      1000053  P00136742  15457.172852
29      1000053   P0097342  13515.258789
...         ...        ...           ...
233569  1005996  P00184242  17294.671875
233570  1005996  P00045342  11314.438477
233571  1006001  P00124642  14946.229492
233572  1006002  P00121142   8378.041992
233573  1006002  P00233542  13684.262695
233574  1006002  P00226342   5337.898438
233575  1006002  P00284842  16032.053711
233576  1006003  P00313342   7227.615723
233577  1006010  P00223542  14766.478516
233578  1006013  P00020342  10564.258789
233579  1006016  P00014842   7362.030762
233580  1006016  P00109542   6360.243652
233581  1006018  P00071442  21047.041016
233582  1006021  P00112542  15101.859375
233583  1006021  P00003442   2435.615479
233584  1006023  P00262242  13797.136719
233585  1006025  P00161142   3281.275879
233586  1006026  P00110742  14995.622070
233587  1006028  P00162442  14048.670898
233588  1006030  P00129842  17999.562500
233589  1006030  P00241442  11526.586914
233590  1006032  P00252442   8223.008789
233591  1006033  P00127642  15796.418945
233592  1006035  P00135742  15430.261719
233593  1006036  P00255442   6368.097168
233594  1006036  P00118942   7798.617188
233595  1006036  P00254642   5758.781250
233596  1006036  P00031842   7670.750977
233597  1006037  P00124742  17911.253906
233598  1006039  P00316642   2745.288086

[233599 rows x 3 columns]

In [27]:
def getPurchaseVar(compute_df, purchase_df, var_name):
        grouped_df = purchase_df.groupby(var_name)
        min_dict = {}
        max_dict = {}
        mean_dict = {}
        twentyfive_dict = {}
        seventyfive_dict = {}
        for name, group in grouped_df:
                min_dict[name] = min(np.array(group["Purchase"]))
                max_dict[name] = max(np.array(group["Purchase"]))
                mean_dict[name] = np.mean(np.array(group["Purchase"]))
                twentyfive_dict[name] = np.percentile(np.array(group["Purchase"]),25)
                seventyfive_dict[name] = np.percentile(np.array(group["Purchase"]),75)

        min_list = []
        max_list = []
        mean_list = []
        twentyfive_list = []
        seventyfive_list = []
        for index, row in compute_df.iterrows():
                name = row[var_name]
                min_list.append(min_dict.get(name,0))
                max_list.append(max_dict.get(name,0))
                mean_list.append(mean_dict.get(name,0))
                twentyfive_list.append( twentyfive_dict.get(name,0))
                seventyfive_list.append( seventyfive_dict.get(name,0))

        return min_list, max_list, mean_list, twentyfive_list, seventyfive_list

In [31]:
train_y=pd.DataFrame(train_y)
train_df["Purchase"]=train_y

In [57]:
train_df.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,...,Product_Category_3_Count,User_ID_Count,Product_ID_Count,User_ID_MinPrice,User_ID_MaxPrice,User_ID_MeanPrice,Product_ID_MinPrice,Product_ID_MaxPrice,Product_ID_MeanPrice,Purchase
0,0,684,0,0,10,0,2,0,3,-999.0,...,0,35,227,612,19219,9545.514286,2648,13716,11870.863436,8370
1,0,2406,0,0,10,0,2,0,1,6.0,...,18428,35,581,612,19219,9545.514286,3880,19701,16304.030981,15200
2,0,868,0,0,10,0,2,0,12,-999.0,...,0,35,102,612,19219,9545.514286,343,1776,1237.892157,1422
3,0,844,0,0,10,0,2,0,12,14.0,...,0,35,341,612,19219,9545.514286,365,1778,1455.140762,1057
4,1,2769,1,6,16,2,4,0,8,-999.0,...,0,77,203,119,20657,10525.610390,3920,10073,7692.763547,7969

In [58]:

min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(train_df, train_df, "User_ID")
train_df["User_ID_MinPrice"] = min_price_list
train_df["User_ID_MaxPrice"] = max_price_list
train_df["User_ID_MeanPrice"] = mean_price_list
train_df["User_ID_25PercPrice"] = twentyfive_price_list
train_df["User_ID_75PercPrice"] = seventyfive_price_list        
        
    
min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(test_df, train_df, "User_ID")
test_df["User_ID_MinPrice"] = min_price_list
test_df["User_ID_MaxPrice"] = max_price_list
test_df["User_ID_MeanPrice"] = mean_price_list
test_df["User_ID_25PercPrice"] = twentyfive_price_list
test_df["User_ID_75PercPrice"] = seventyfive_price_list
print np.unique(test_df["User_ID_MeanPrice"])[:10]

min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(train_df, train_df, "Product_ID")
train_df["Product_ID_MinPrice"] = min_price_list
train_df["Product_ID_MaxPrice"] = max_price_list
train_df["Product_ID_MeanPrice"] = mean_price_list
train_df["Product_ID_25PercPrice"] = twentyfive_price_list
train_df["Product_ID_75PercPrice"] = seventyfive_price_list

min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(test_df, train_df, "Product_ID")
test_df["Product_ID_MinPrice"] = min_price_list
test_df["Product_ID_MaxPrice"] = max_price_list
test_df["Product_ID_MeanPrice"] = mean_price_list
test_df["Product_ID_25PercPrice"] = twentyfive_price_list
test_df["Product_ID_75PercPrice"] = seventyfive_price_list
print np.unique(test_df["Product_ID_MeanPrice"])[:10]

min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(train_df, train_df, "Product_Category_1")
train_df["Product_Cat1_MinPrice"] = min_price_list
train_df["Product_Cat1_MaxPrice"] = max_price_list
train_df["Product_Cat1_MeanPrice"] = mean_price_list
train_df["Product_Cat1_25PercPrice"] = twentyfive_price_list
train_df["Product_Cat1_75PercPrice"] = seventyfive_price_list
        
min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(test_df, train_df, "Product_Category_1")
test_df["Product_Cat1_MinPrice"] = min_price_list
test_df["Product_Cat1_MaxPrice"] = max_price_list
test_df["Product_Cat1_MeanPrice"] = mean_price_list
test_df["Product_Cat1_25PercPrice"] = twentyfive_price_list
test_df["Product_Cat1_75PercPrice"] = seventyfive_price_list
print np.unique(test_df["Product_Cat1_MeanPrice"])[:10]


min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(train_df, train_df, "Product_Category_2")
train_df["Product_Cat2_MinPrice"] = min_price_list
train_df["Product_Cat2_MaxPrice"] = max_price_list
train_df["Product_Cat2_MeanPrice"] = mean_price_list
train_df["Product_Cat2_25PercPrice"] = twentyfive_price_list
train_df["Product_Cat2_75PercPrice"] = seventyfive_price_list
        
min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(test_df, train_df, "Product_Category_2")
test_df["Product_Cat2_MinPrice"] = min_price_list
test_df["Product_Cat2_MaxPrice"] = max_price_list
test_df["Product_Cat2_MeanPrice"] = mean_price_list        
test_df["Product_Cat2_25PercPrice"] = twentyfive_price_list
test_df["Product_Cat2_75PercPrice"] = seventyfive_price_list
print np.unique(test_df["Product_Cat2_MeanPrice"])[:10]

min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(train_df, train_df, "Product_Category_3")
train_df["Product_Cat3_MinPrice"] = min_price_list
train_df["Product_Cat3_MaxPrice"] = max_price_list
train_df["Product_Cat3_MeanPrice"] = mean_price_list
train_df["Product_Cat3_25PercPrice"] = twentyfive_price_list
train_df["Product_Cat3_75PercPrice"] = seventyfive_price_list

min_price_list, max_price_list, mean_price_list, twentyfive_price_list, seventyfive_price_list = getPurchaseVar(test_df, train_df, "Product_Category_3")
test_df["Product_Cat3_MinPrice"] = min_price_list
test_df["Product_Cat3_MaxPrice"] = max_price_list
test_df["Product_Cat3_MeanPrice"] = mean_price_list
test_df["Product_Cat3_25PercPrice"] = twentyfive_price_list
test_df["Product_Cat3_75PercPrice"] = seventyfive_price_list
print np.unique(test_df["Product_Cat3_MeanPrice"])[:10]

[ 2318.73333333  2698.35714286  3421.52173913  3599.73333333  3612.8125
  4228.51428571  4273.52941176  4276.29166667  4299.16393443  4301.33333333]
[   0.          405.          455.54081633  478.5         498.
  524.66666667  525.75        545.17857143  577.30769231  585.53521127]
[   722.40061272   1350.85989359   2329.65949119   2972.86432
   4685.26845638   6240.0881782    7498.95807768  10096.70573393
  10170.75951557  11251.93538384]
[ 6884.68370607  6975.47250362  7105.26491616  7277.00685052  7518.69538926
  8940.58051507  9027.82157423  9352.44043321  9421.57657658  9683.35238819]
[  8221.83694328   8715.51276228   9794.38666667  10052.59453006
  10431.69721047  10993.98077339  11769.94300084  11981.89064224
  12091.43767313  12117.78688918]

In [2]:
def runXGB1(train_X, train_y, test_X):
        params = {}
        params["objective"] = "reg:linear"
        params["eta"] = 0.03
        params["min_child_weight"] = 10
        params["subsample"] = 0.8
        params["colsample_bytree"] = 0.7
        params["silent"] = 1
        params["max_depth"] = 10
        #params["max_delta_step"]=2
        params["seed"] = 0
        #params['eval_metric'] = "auc"
        plst = list(params.items())
        num_rounds = 1100

        xgtrain = xgb.DMatrix(train_X, label=train_y)
        xgtest = xgb.DMatrix(test_X)
        model = xgb.train(plst, xgtrain, num_rounds)
        pred_test_y = model.predict(xgtest)
        return pred_test_y

In [60]:
train_y = np.array(train_df["Purchase"])
test_user_id = np.array(test_df["User_ID"])
test_product_id = np.array(test_df["Product_ID"])

train_df.drop(["Purchase"], axis=1, inplace=True)

cat_columns_list = ["User_ID", "Product_ID"]
for var in cat_columns_list:
                lb = LabelEncoder()
                full_var_data = pd.concat((train_df[var],test_df[var]),axis=0).astype('str')
                temp = lb.fit_transform(np.array(full_var_data))
                train_df[var] = lb.transform(np.array( train_df[var] ).astype('str'))
                test_df[var] = lb.transform(np.array( test_df[var] ).astype('str'))

train_X = np.array(train_df).astype('float')
test_X = np.array(test_df).astype('float')
print train_X.shape, test_X.shape

(550068, 43) (233599, 43)

In [1]:
print "Running model.."	
pred_test_y = runXGB1(train_X, train_y, test_X)
pred_test_y[pred_test_y<0] = 1

out_df = pd.DataFrame({"User_ID":test_user_id})
out_df["Product_ID"] = test_product_id
out_df["Purchase"] = pred_test_y
out_df.to_csv("sub20.csv", index=False)

Running model..

NameError: name 'runXGB1' is not defined

In [ ]:

m1 = pd.read_csv("sub20.csv")
m2 = pd.read_csv("sub2.csv")


print np.corrcoef(m1["Purchase"], m2["Purchase"])
#m1["Purchase"][m1["Purchase"]<0] = 1
m1["Purchase"] = (0.7*m1["Purchase"] + 0.3*m2["Purchase"])
m1.to_csv("sub21.csv", index=False)